html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(226, 222, 222);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes slideInFromTop {
	0% {
			opacity: 0;
			transform: translateY(-100%);
	}
	100% {
			opacity: 1;
			transform: translateY(0);
	}
}

@keyframes slideInFromBottom {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Apply animations to elements */
.welcome-text-animation {
	opacity: 0;
}

.welcome-text-animation.animate {
	animation: slideInFromTop 1s ease-out forwards;
}

.welcome-button-animation {
	opacity: 0;
}

.welcome-button-animation.animate {
	animation: slideInFromBottom 1s ease-out forwards;
}

/* Define animations */
/* Define animations */
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.animate-on-scroll {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.slide-in-top {
    animation: slideInFromTop 1s ease-out forwards;
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.slide-in-left {
    animation: slideInFromLeft 1s ease-out forwards;
} 




@keyframes slideInFromBottom {
	0% {
			opacity: 0;
			transform: translateY(50px);
	}
	100% {
			opacity: 1;
			transform: translateY(0);
	}
}

.animate-on-scroll {
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.5s ease, transform 0.5s ease;
}


.animate {
	animation: slideInFromBottom 1s ease-out forwards;
}

@keyframes slideInFromRight {
	0% {
			opacity: 0;
			transform: translateY(150px);
	}
	100% {
			opacity: 1;
			transform: translateX(0);
	}
}

.animate-on-scroll {
	opacity: 0;
	transform: translateY(150px);
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate {
	animation: slideInFromRight 1s ease-out forwards;
}


.header {
	position: relative;
	background: url('./image/горы.jpeg') no-repeat center center/cover;
	border-radius:  0 0 0px 0px;
	color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: bold;
}

.header--nav .main:hover {
	color: #f0f0f0; /* Lighter color on hover */
}
.header--main {
	position: absolute;
	top: 55%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	color: rgb(240, 231, 241);
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-top: auto;
	padding: 1rem;
}
.header--main p {
	font-size: 2.5rem;
}

.sign-tur {
	display: flex;
	justify-content: center;
	padding-bottom: 160px;
	color: #000000;
}

.date--btn {
	font-weight: 700;
	color: #000000;
	text-decoration: none;
	font-size: 20px;
	transition: 0.3s;
	background-color: #e68900;
	width: 200px;
	height: 50px;
	border-radius: 20px;
}

.date--btn:hover {
	transform: scale(1.2);
	transition: 0.5s;
}

.bac-img {
	width: 100%;
	object-fit: cover;
	border-radius:  0 0 400px 400px;
}


.tree {
	margin-left: 50px;
	width: 60px;
}

nav > a {
	text-decoration: none;
	text-align: center;
	color: black;
}

.nav--main {
	display: flex;
	padding-left: 60px;
	gap: 20px;
	font-size: 28px;
}

.main {
	transition: 500ms;
}

.main:hover {
	background-color: rgb(255, 204, 95);
	width: 170px;
	transition: 300ms;
	border-radius: 15px;
}


#kaz {
	position: absolute;
	top: 55%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	color: rgb(240, 231, 241);
	font-size: 48px;
	text-transform: uppercase;
}

#one-word {
	text-align: center;
	padding-bottom: 50px;
	font-size: 48px;

}

#two-word {
	padding-left: 0%; 
	font-size:  0.4em;
	font-weight: normal;
	
}

.bac-img {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 50px;
}

#h1 {
	text-align: center;
	position: relative;
	bottom: 75px;
}

#eco-tourism {
	background-color: #e3c99c;
	height: 700px;
	padding-bottom: 150px;
	font-weight: normal;
}

#eco-tourism p {
	font-weight: normal;
}

.eco-tourism {
	position: relative;
	top: 150px;
}

.img-1 {
	width: 600px;
	height: 600px;
	position: relative;
	left: 150px;
	bottom: 100px;
	z-index: 1;
	cursor: pointer;
}

.eco-tourism > p {
	margin-left: 20px;
	font-size: 10px;
	width: 50%;
	float: left;
	font-size: 5px;
	border-radius: 20px;
	font-weight: 800;
}

#history {
	background-color: #504128;
	color: #f0f0f0;
	height: 700px;
	padding-bottom: 150px;
	font-weight: normal;

}

#history p {
	font-weight: normal;
	font-size: 15px;
	padding-bottom: 100px;
}

.history {
	position: relative;
	top: 150px;
}

#h1 {
	position: relative;
	bottom: 150px;
}

.img {
	position: relative;
	left: 150px;
	z-index: 1;
	cursor: pointer;
	width: 500px;
	height: 500px;
}

#tourism {
	height: 700px;
}



h2 {
	text-align: center;
}

.tourism > ol,
.tourism > ul {
	display: flex;
	line-height: 1.5;
}

ol {
	padding-left: 130px;
}

ul {
	width: 500px;
	text-align: center;
	margin-top: 100px;
	background-color: rgb(255, 255, 255);
}

li {
  list-style-type: none;
}

ol > li {
  background-color: rgb(255, 255, 255);
  height: 50px;
	width: 300px;
  text-align: center;

  cursor: pointer;
}

.tourism li + ul {
  margin-top: 20px;
}


#sign--up {
	background-color: #e3ca9c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form--box {
	margin-top: 150px;
	margin-bottom: 150px;
  width: 400px;
  padding: 30px;
  background: rgba(188, 194, 218, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.884);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20px;
}

.inputbox {
  position: relative;
	width: 100%;
	margin: 20px 0;
  border-bottom: 2px solid white;
}

.inputbox input {
  width: 100%;
  padding: 10px 5px;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 1em;
}

.inputbox label {
  position: absolute;
  top: 0%;
  left: 10px;
  transform: translateY(-50%);
  color: rgb(0, 0, 0);
  font-size: 1em;
  pointer-events: none;
  transition: 0.3s;
}

.input__box > label { 
	padding-bottom: 20px;

}

.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
  font-size: 0.8em;
  color: #ffbb00;
}

#btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #ff9800;
  color: rgb(0, 0, 0);
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

#btn:hover {
  background: #e68900;
}

.registr {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.registr a {
  color: #ff9800;
  text-decoration: none;
}


.custom-button {
	display: inline-block;
	background-color: #e6a518;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
	padding: 10px;
	width: 200px;
	transition: all 0.3s;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 100px;
}

.custom-button:hover {
	background-color: #45a049;
}


/* @media(min-width: 1920px) {
	#history p {
		font-weight: normal;
		font-size: 28px;
		position: relative;
		top: -150px;
}
} */

@media (min-width: 1200px){

	/* Style the drop-down button */
.dropbtn {
	background-color: #2e2e2ea9;
	border-radius: 20px;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Container needed to position the drop-down content */
.dropdown {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 2;
	display: inline-block;
}

/* Hide the drop-down content by default */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the drop-down */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of drop-down links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the drop-down menu on button click */
.show {
	display: block;
}

	html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
	}

	.header {
		max-width: 100%;
		background: url('./image/горы.jpeg') no-repeat center center/cover;
	}


	.date--btn {
		color: #000000;
		font-weight: 700;
		text-decoration: none;
		position: relative;
		top: 50px;
		left: 5px;
		font-size: 20px;
		transition: 0.3s;
		border-radius: 20px;
	}

	#date--two-word {
		text-align: center;
		position: relative;
		bottom: 150px;
	}

	#eco-tourism {
		background-color: #b38b48;
		color: aliceblue;
		height: 700px;
		padding-bottom: 150px;
		font-weight: normal;
	}
	
	#eco-tourism p {
		font-weight: normal;
		font-weight: normal;
		font-size: 19px;
		padding-left: 20px;
		position: relative;
		bottom: 180px;
	}
	
	.eco-tourism {
		position: relative;
		top: 150px;
	}
	
	.img-1 {
    width: 400px;
    height: 400px;
    position: relative;
    left: 150px;
    /* bottom: 250px; */
    z-index: 1;
    cursor: pointer;
    top: -80px;
    }

	#history p {
		font-weight: normal;
		font-size: 19px;
		position: relative;
		top: -150px;
	}

	#history{
		background-color: #b38b48;

	}

	.history > p {
		margin-left: 120px;
		width: 40%;
		float: left;
		border-radius: 25px;
	  height: auto;
	}

	.img {
		max-width: 400px;
		max-height: 400px;
		position: relative;
		bottom: 1010px;
		cursor: pointer;
		top: 5px;
	}

	section {
		display: flex;
		justify-content: center;
		padding-top: 50px;
		min-height: 100vh;
		width: 100%;
		
		background-color: #e3ca9c;
	}

	/* .img {
		max-width: 400px;
		max-height: 400px;
		position: relative;
		top: 5px;
		cursor: pointer;
	} */

	#tourism {
		background-color: #e3ca9c;
		height: 750px;
	}

	.tourism {
		font-size: 15px;
		font-weight: 800;
	}
	
	h2 {
		text-align: center;
		font-size: 45px;
	}

	.card--1 {
		background-size: cover;
		width: 300px;
		height: 300px;
}
	
	.tourism > ol,
	.tourism > ul {
		display: flex;
		line-height: 1.5;
	}

	.ol {
		display: flex;
		flex-direction: row;
		padding-top: 60px;
	}

	ol {
		padding-top: 10px;
		padding-left: 90px;
		position: relative;
		bottom: 120px;
		right: 70px;
}

	ul {
		height: 550px;
		width: 300px;
		text-align: center;
		background-color: #b89c68;
		font-size: 18px;
		color: #2a3b42;
	}

	.li {
		font-size: 25px;
	}

	li {
		list-style-type: none;
		/* padding-top: 10px; */
	}
	
	footer {
		width: 100%;
		height: 90vh;
		background-color: #504128;
	}

	.img-11 {
		width: 600px;
		height: 600px;
		position: relative;
		left: 300px;
		top: 50px;
		float: left;
	}



	.sur-img {
		width: 600px;
		height: 600px;
		position: relative;
		top: 50px;
		left: 100px;
		z-index: 1;
	}

	#h4 {
		font-size: 50px;
		position: relative;
		right: 50%;
		text-align: center;
		color: white;
		z-index: 2;
	}

	.contacts {
		width: 100%;
		margin-left: 50%;
		font-size: 30px;
		color: #f0f0f0;
	}

	.icon > img{
		width: 50px;
		height: 50px;
	}

	.icon {
		width: 50px;
		height: 50px;
		float: left;
	}

	.date--p {
		padding-left: 50px;	
	}

	.count-b-p {
		padding-left: 20px;
	}

	#b {
		padding-left: 20px;
	}

	.gis2 {
		text-decoration: none;
		color: floralwhite;
	}
 
	iframe {
		position: relative;
		top: 100px;
		right: 130px;
		width: 400px;
		height: 400px;
	}
}
 @media (max-width: 1024px){


.dropbtn {
	background-color: #2e2e2ea9;
	border-radius: 20px;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}


.dropdown {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 2;
	display: inline-block;
}


.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}


.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}


.dropdown-content a:hover {
	background-color: #f1f1f1;
}


.show {
	display: block;
}

	html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
	}

	.header {
		max-width: 100%;
		background: url('./image/горы.jpeg') no-repeat center center/cover;
	}


	.date--btn {
		color: #000000;
		font-weight: 700;
		text-decoration: none;
		position: relative;
		top: 50px;
		left: 5px;
		font-size: 20px;
		transition: 0.3s;
		border-radius: 20px;
	}

	#date--two-word {
		text-align: center;
		position: relative;
		bottom: 150px;
	}

	#eco-tourism {
		background-color: #b38b48;
		color: aliceblue;
		height: 700px;
		padding-bottom: 150px;
		font-weight: normal;
	}
	
	#eco-tourism p {
		font-weight: normal;
		font-weight: normal;
		font-size: 16px;
		padding-left: 20px;
		position: relative;
		bottom: 180px;
		left: 80px;
	}
	
	.eco-tourism {
		position: relative;
		top: 150px;
	}
	
	.img-1 {
    width: 300px;
    height: 300px;
    position: relative;
    left: 150px;
    z-index: 1;
    cursor: pointer;
    top: -80px;
    }

	#history p {
		font-weight: normal;
		font-size: 18px;
		position: relative;
		top: -150px;
	}

	#history{
		background-color: #b38b48;

	}

	.history > p {
		margin-left: 120px;
		width: 40%;
		float: left;
		border-radius: 25px;
	  height: auto;
	}

	.img {
    max-width: 300px;
    max-height: 300px;
    position: relative;
    bottom: 1010px;
    cursor: pointer;
    top: 5px;
    }

	section {
		display: flex;
		justify-content: center;
		padding-top: 50px;
		min-height: 100vh;
		width: 100%;
		
		background-color: #e3ca9c;
	}

	#tourism {
		background-color: #e3ca9c;
		height: 750px;
	}

	.tourism {
		font-size: 15px;
		font-weight: 800;
	}
	
	h2 {
		text-align: center;
		font-size: 45px;
	}

	.card--1 {
		background-size: cover;
		width: 300px;
		height: 300px;
}
	
	.tourism > ol,
	.tourism > ul {
		display: flex;
		line-height: 1.5;
	}

	.ol {
		display: flex;
		flex-direction: row;
		padding-top: 60px;
	}

	ol {
   padding-top: 10px;
   padding-left: 20px;
   position: relative;
   bottom: 120px;
	 left: 34px;
    }

	ul {
		height: 550px;
		width: 300px;
		text-align: center;
		background-color: #b89c68;
		font-size: 18px;
		color: #2a3b42;
	}

	.li {
		font-size: 25px;
	}

	li {
		list-style-type: none;
		 padding-top: 10px; 
	}
	
	footer {
		width: 100%;
		height: 100vh;
		background-color: #504128;
	}

	.img-11 {
		width: 600px;
		height: 600px;
		position: relative;
		left: 300px;
		top: 50px;
		float: left;
	}



	.sur-img {
		width: 600px;
		height: 600px;
		position: relative;
		top: 50px;
		left: 100px;
		z-index: 1;
	}

	#h4 {
		font-size: 50px;
		position: relative;
		right: 50%;
		text-align: center;
		color: white;
		z-index: 2;
	}

	.contacts {
		width: 100%;
		margin-left: 50%;
		font-size: 30px;
		color: #f0f0f0;
	}

	.icon > img{
		width: 50px;
		height: 50px;
	}

	.icon {
		width: 50px;
		height: 50px;
		float: left;
	}

	.date--p {
		padding-left: 50px;	
	}

	.count-b-p {
		padding-left: 20px;
	}

	#b {
		padding-left: 20px;
	}

	.gis2 {
		text-decoration: none;
		color: floralwhite;
	}
 
	iframe {
		position: relative;
		top: 100px;
		right: 130px;
		width: 400px;
		height: 400px;
	}
} 
/* @media (min-width: 768px) and (max-width:1199px){ 
	html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
	}

	#kaz {
		position: absolute;
		top: 50%; 
		left: 50%; 
		transform: translate(-60%, -50%); 
		color: rgb(240, 231, 241);
		font-size: 28px;
		text-transform: uppercase;
	}
	
	#one-word {
		padding-left: 50%;
	}
	
	#two-word {
		padding-left: 0%; 
		font-size:  0.4em;
		font-weight: normal;
	}



	.date--btn {
		color: #000000;
		font-weight: 700;
		text-decoration: none;
		position: relative;
		top: 130px;
		left: 10px;
		font-size: 20px;
		transition: 0.3s;
		width: 200px;
		height: 50px;
		border-radius: 20px;
	}	

	.date--btn:hover {
		transform: scale(1.2);
	}
	
	.history > p {
		width: 400px;
		font-weight: 800;
		font-size: 14px;
		margin-left: 50px;
	}

	.img {
		max-width: 300px;
		position: relative;
		left: 500px;
		bottom: 325px;
		z-index: 1;
		cursor: pointer;
	}

	#date--two-word {
		text-align: center;
		position: relative;
		bottom: 75px;
		font-size: 45px;
	}

	#eco-tourism {
		background-color: #504128;
		color: #f0f0f0;
		padding-bottom: 150px;
		font-weight: normal;
	}
	
	#eco-tourism p {
		font-weight: normal;
		font-size: 20px;
	}
	
	.eco-tourism {
		position: relative;
		top: 150px;
	}
	
	.img-1 {
		max-width: 450px;
		position: relative;
		top: 50px;
		left: 80px;
		z-index: 1;
		cursor: pointer;
	}

	#tourism {
		background-color: #e3ca9c;
		/* height: 800px; 
	}

	.tourism {
		font-size: 15px;
		font-weight: 800;
	}

	h2 {
		text-align: center;
		font-size: 45px;
		padding-top: 70px;
	}
	
	.card--1 {
		background-size: cover;
		width: 250px;
		height: 200px;
	}

	.tourism > ol,
	.tourism > ul {
		display: flex;
		flex-direction: column;
		line-height: 1.5;
	}

	.ol {
		display: flex;
		flex-direction: row;
		padding-top: 60px;
	}

	ol {
		padding-top: 50px;
		padding-left: 5px;
	}
	
	ul {
		margin-left: 30px;
		height: 500px;
		width: 250px;
		text-align: center;
		background-color: #b89c68;
		font-size: 18px;
		color: #2a3b42;
		position: relative;
		bottom: 150px;
	}

	ul > .li {
		position: relative;
		bottom: 20px;
		font-size: 20px;
	}

	.li {
		padding-top: 12px;
	}

	li {
		list-style-type: none;
	}

	ol > li {
	background-color: rgb(255, 255, 255);
	height: 50px;
	width: 200px;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	}


*/
/* @media (max-width: 830px){
	html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
	}

	#kaz {
		position: absolute;
		top: 50%; 
		left: 55%; 
		transform: translate(-60%, -50%); 
		color: rgb(240, 231, 241);
		text-transform: uppercase;
	}
	
	#one-word {
		padding-left: 50%;
	}
	
	#two-word {
		padding-left: 0%; 
		font-size:  0.4em;
		font-weight: normal;
	}

	.date--btn {
		text-decoration: none;
		position: relative;
		top: 145px;
		left: 10px;
		font-size: 20px;
		transition: 0.3s;
		color: #000000;
		border-radius: 20px;
		font-weight: 700;
	}	

	.date--btn:hover {
		transform: scale(1.2);
	}

#date--two-word {
	position: relative;
	bottom: 130px;
	left: 70px;
}

#eco-tourism {
	background-color: #504128;
	color: #f0f0f0;
	height: 850px;
	padding-bottom: 300px;
	font-weight: normal;
}

#eco-tourism p {
	font-weight: normal;
	font-size: 15px;
	position: relative;
	bottom: 80px;
	margin-left: 110px;
}

	.eco-tourism {
		position: relative;
		top: 150px;
	}

	.img-1 {
		width: 250px;
		height: 250px;
		position: relative;
		left: 100px;
		bottom: 50px;
		z-index: 1;
		cursor: pointer;
}

#history {
		background-color: #504128;
		color: #f0f0f0;
		height: 950px;
		font-size: 20px;
	}
	.history > p {
		width: 400px;
		font-weight: 800;
		position: relative;
		left: 30px;
	}

	.img {
		max-width: 300px;
		position: relative;
		left: 65px;
		top: 40px;
		z-index: 1;
		cursor: pointer;
}


	#tourism {
		background-color: #e3ca9c;
		height: auto;
	}

	.tourism {
		font-size: 15px;
		font-weight: 800;
	}
	
	h2 {
		text-align: center;
		font-size: 45px;
	}
	
	.card--1 {
		width: 300px;
		height: 300px;
	}

	.tourism > ol,
	.tourism > ul {
		display: flex;
		line-height: 1.5;
	}

	.ol {
		display: flex;
		flex-direction: column;
		 padding-top: 60px; 
	}

	ol {
		padding-top: 50px;
		padding-left: 40px;
	}
	
	ul {
		margin-left: 40px;
		margin-bottom: 20px;
		height: 550px;
		width: 300px;
		text-align: center;
		background-color: #b89c68;
		font-size: 18px;
		color: #000000;
}

	.li {
		font-size: 20px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	li {
		list-style-type: none;
		font-size: 18px;
	}

	.form--box {
		width: 400px;
		height: 500px;	
	} 
} */

