body {
	margin: 0;
	padding: 0;
	background-color: #e3ca9c;
	overflow-x: hidden;
}

.dropbtn {
	background-color: #2e2e2ea9;
	border-radius: 20px;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 2;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display: block;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: rgb(25, 40, 53);
  margin-top: 20px;
	margin-left: 14%;
  font-family: 'Arial', sans-serif; /* Изменено для использования другого шрифта */
  text-transform: uppercase; /* Текст в верхнем регистре */
  letter-spacing: 2px; /* Расстояние между буквами */
  background: linear-gradient(90deg, #db775e, #e09861); /* Градиент */
  -webkit-background-clip: text; /* Применение градиента к тексту */
  -webkit-text-fill-color: transparent; /* Прозрачный цвет заполнения текста для отображения градиента */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Тень текста */
  padding: 10px 20px; /* Отступы вокруг текста */
  border-radius: 10px; /* Закругленные углы */
  display: inline-block; /* Делаем заголовок строчным блоком для применения градиента */
  border: 2px solid rgba(25, 40, 53, 0.2); /* Рамка вокруг заголовка */
}

.header--main {
	width: 100%;
	display: flex;
	align-items: flex-end; /* Изменено с center на flex-end */
	justify-content: center;
	padding-bottom: 20px; /* Добавлено для отступа снизу */
	height: calc(100vh - 200px); /* Уменьшено пространство для заголовка */
}

.fauna-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%; /* Добавлено для растягивания контейнера на всю ширину */
	margin-top: 210px; /* Добавлено для отступа сверху */
}

.fauna {
	display: flex;
	flex-direction: row;
	gap: 20px;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	width: calc(100% - 40px);
	margin: -200px auto;
	padding: 21px 0;
}

.card-1 {
	background-color: #b89c68;
	min-width: calc((100% / 3) - 20px);
	scroll-snap-align: start; /* Выравнивание скролла по карточкам */
	margin-top: 100px;
}

.img {
	width: 100%;
	height: 450px;
}

#p-h {
	text-align: center;
	font-size: 25px;
	font-weight: 600;
}

.text {
	color: #2a3b42;
}

.lower {
	padding-left: 10px;
	font-size: 19px;
	font-weight: 600;
}

.scroll-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: #b89c68;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 1000;
	font-size: 24px;
	color: #2a3b42;
}

.scroll-btn.left {
	left: 30px;
}

.scroll-btn.right {
	width: 200px;
	right: 30px;
}

.scroll-btn.left {
	margin-right: 20px; /* Отступ справа для кнопки влево */
}

.scroll-btn.right {
	margin-left: 20px; /* Отступ слева для кнопки вправо */
}

.text-1 {
	font-weight: 700;
	padding-left: 20px;
	font-size: 20px;
}

.left {
	height: 30px;
	width: 30px;
	background-color: rgb(255, 140, 0);
	margin-right: 50px;
}

.right {
	height: 30px;
	width: 30px;
	background-color: rgb(255, 140, 0);
	margin-left: 50px;
}

@media(min-width: 2000px) {
	.card-1 {
		min-width: calc((100% / 4) - 20px); /* Уменьшаем ширину карточек */
}

.img {
		height: 450px; /* Уменьшаем высоту изображений в карточках */
}
}

@media(max-width: 1024px) {
	.card-1 {
		min-width: calc((100% / 2) - 20px); /* Ширина карточек */
	}

	.img {
		height: 400px; /* Высота изображений */
	}
}